
@import './base.css';
@import './layout.css';
@import './header.css';
@import './forms.css';

/* Global fullscreen fixes */
body {
  isolation: isolate;
}

/* Global popper fixes */
[data-radix-popper-content-wrapper] {
  position: fixed !important; 
  z-index: 9999 !important;
  background-color: var(--background) !important;
}
